footer.footer
        .container
            .row
                .col-24
                    .footer__container
                        a(href="/reserva")
                            img(src="/images/btn-reservar.png")