extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.carta
        .container
            .-arrow.-arrow--prev
            .-arrow.-arrow--next
            .-dots
                .-dot
                .-dot
                .-dot
                .-dot
            .-close-button
                span.-left
                span.-right
            .row
                .col-24.col-md-14.offset-md-5
                    .carta__container
                        .row.carta__group
                            .col-24
                                h2.carta__title la carta
                                p.carta__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .col-24.col-md-12.-separation
                                button.carta__option carta principal
                            .col-24.col-md-12.-separation
                                button.carta__option piqueos
                            .col-24.col-md-12.-separation.-separation--alt
                                button.carta__option cocktails
                            .col-24.col-md-12
                                button.carta__option vinos y destilados
                        .row.carta__group
                            .col-24
                                h2.carta__title carta principal
                                p.carta__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .row.carta__subgroup
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .row.carta__group
                            .col-24
                                h2.carta__title piqueos
                                p.carta__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .row.carta__subgroup
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .row.carta__group
                            .col-24
                                h2.carta__title cocktails
                                p.carta__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .row.carta__subgroup
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .row.carta__group
                            .col-24
                                h2.carta__title vinos y destilados
                                p.carta__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .row.carta__subgroup
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                .col-24.col-md-12
                                    .carta__group-wrapper
                                        h3.carta__subtitle nombre del plato
                                        p.carta__text.-small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.





