extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.restaurant
        .restaurant__hero
            img(src="/images/restaurant-hero.jpg")
        .restaurant__content
            //- p.restaurant__content__text-decoration restaurant
            //- .restaurant__content__image
            //-     img(src="/images/restaurant-quote.png")
            .container
                .row
                    .col-24
                        h2.restaurant__hero__title el restaurant
                    .col-24.col-md-8
                        p.restaurant__content__text Después de 16 años como banqueteros, nace la necesidad de tener nuestra propia casa. Con cocina de verdad (no de campamento) con barras de verdad (no de una noche). con los vasos que nos gustan, con la loza que nos gusta y con personal contratado y capacitado por nosotros para poder estregarle a nuestros clientes lo que tanto nos gusta.
                        p.restaurant__content__text Ese todo, esa experiencia en donde todo es importante y, sobre todo donde lo mas importante es agradar y crear momentos felices para otro.
                        
                    .col-24.col-md-8
                        p.restaurant__content__text Lo que llevamos en nuestra alma es vocación de servicio, es amor por la felicidad de otros, es gozar cuando los otros gozan.
                        p.restaurant__content__text La Dicha como dice su significado “es un estado de animo de la persona que se siente plenamente satisfecha por gozar de lo que desea o por disfrutar de algo bueno”.
                    .col-24.col-md-8
                        p.restaurant__content__text Esto es exactamente lo que queremos que experimenten nuestros clientes, un lugar donde gocen y disfruten.
                        p.restaurant__content__text.restaurant__content__text--bold Pablo Bagnara & Francesca Margozzini.