extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
    main.restaurant
        .restaurant__hero
            img(src="/images/restaurant-hero.jpg")
        .restaurant__content
            //- p.restaurant__content__text-decoration restaurant
            //- .restaurant__content__image
            //-     img(src="/images/restaurant-quote.png")
            .container
                .row
                    .col-24
                        h2.restaurant__hero__title el restaurant
                    .col-24.col-md-8
                        p.restaurant__content__text La Dicha, nace por la inquietud de Pablo Bagnara y Francesca Margozzini en buscar nuevos desafios, en los que está la idea de crear momentos felices para otros. 
                        p.restaurant__content__text Después de 15 años como banqueteros deciden por fin tener su casa propia para poder recibirlos a todos cuando quieran.
                    .col-24.col-md-8
                        p.restaurant__content__text La Dicha es un sueño hecho realidad, su nombre nace por el amor y placer que sentimos al producir DICHA en ustedes.
                        p.restaurant__content__text Nuestra cocina esta basada en un viaje gastronómico en donde los queremos llevar a lo mejor de los distintos rincones del mundo, que a su vez lo pueden experimentar simplemente a través de un cocktail constante o a través de un menú clásico con entradas, principales y postres. Lo importante es que lo hagan como ustedes quieran.
                    .col-24.col-md-8
                        p.restaurant__content__text Con respecto al servicio, es nuestra obsesión. Queremos que se entreguen en nuestros brazos para que lo puedan sentir. 
                        p.restaurant__content__text.restaurant__content__text--bold Pablo Bagnara & Francesca Margozzini.