extends _layouts/base

block content
    main.home
        .container
            .row
                .col-24
                    .home__container
                        //- .home__image
                        //-     img(src="/images/gallo.png")
